{% extends 'base.html' %}
    {% load static %}

    {% block title %}
    Feed
    {% endblock %}
        
    {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'center/css/create_pet.css' %}">
    {% endblock %}
    {% block content %}

    
    <div class="create-pet-container">
        <form method="post" enctype="multipart/form-data">
        <div class="top-elements">
            <p class="back"> < Back to all animals</p>
            <button type="submit" class="btn">Save</button>
        </div>
        <div class="pet-form">
            <div class="container-pet-form">
                <div class="main-img" id="upload-area">
                     <label for="profile-image" class="upload-label" id="select-image">
                        Select image
                    </label>
                    <input type="file" name="main_image" accept="image/*" required id="profile-image" hidden> 
                </div>
                
                {% csrf_token %}

                <div class="container-fields">

                    {{ form.errors }}
                   
                        <div class="container-field">
                            <label for="pet_name" class="pet-label">Pet Name</label>
                            <div class="form-control">{{ form.name }}</div>
                        </div>
                        <div class="container-field">
                            <label for="pet_status" class="pet-label">Status</label>
                            <div class="form-control">{{ form.status }}</div>
                        </div>

                        <div class="container-field">
                            <label for="pet_age " class="pet-label">Age</label>
                            <div class="form-control">{{ form.age }}</div>
                        </div>
                        <div class="container-field">
                            <label for="pet_breed" class="pet-label">Breed</label>
                            <div class="form-control">{{ form.breed }}</div>
                        </div>
                   
                    
                        <div class="container-field">
                            <label for="pet_gender" class="pet-label">Gender</label>
                            <div class="form-control">{{ form.gender }}</div>
                        </div>
                        
                        <div class="description">
                            <label for="pet_description" class="pet-label">Description</label>
                            <div class="form-control">{{ form.description }}</div>
                        </div>
                </div>
            </div>

            <p class="gallery">Gallery</p>

            <div class="photos-container">
                <div class="photos" id="photos-div-1">
                     <label for="profile-image" class="upload-label" id="select-image-1">
                        Select image
                    </label>
                    <input type="file" name="images" accept="image/*" id="profile-image-1" hidden> 
                </div>
                <div class="photos" id="photos-div-2">
                     <label for="profile-image" class="upload-label" id="select-image-2">
                        Select image
                    </label>
                    <input type="file" name="images" accept="image/*" id="profile-image-2" hidden> 
                </div>
                <div class="photos" id="photos-div-3">
                     <label for="profile-image" class="upload-label" id="select-image-3">
                        Select image
                    </label>
                    <input type="file" name="images" accept="image/*" id="profile-image-3" hidden> 
                </div>
                <div class="photos" id="photos-div-4">
                     <label for="profile-image" class="upload-label" id="select-image-4">
                        Select image
                    </label>
                    <input type="file" name="images" accept="image/*" id="profile-image-4" hidden> 
                </div>
                <!-- <div class="photos" id="photos-div-5">
                     <label for="profile-image" class="upload-label" id="select-image-5">
                        Select image
                    </label>
                    <input type="file" name="images" accept="image/*" id="profile-image-5" hidden> 
                </div>
                <div class="photos" id="photos-div-6">
                     <label for="profile-image" class="upload-label" id="select-image-6">
                        Select image
                    </label>
                    <input type="file" name="images" accept="image/*" id="profile-image-6" hidden> 
                </div>
                -->
            </div>
        </form>  
        </div>
    </div>

    {% endblock %}  


    {% block extra_js %}
        <script src="{% static 'center/scripts/createPet.js' %}"></script>
    {% endblock %}