        {% extends 'base.html' %}
        {% load static %}

        {% block title %}
        Feed
        {% endblock %}

        {% block extra_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'center/css/feed.css' %}">
        {% endblock %}

        {% block content %}
        
        <div class="feed">
            {% include 'includes/filter.html' %}
            <div class="animals-photos">
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 21 years</p>
                        <p>Breed: Rotweiller</p>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 1 year</p>
                        <p>Breed: Dalmata</p>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 2 year</p>
                        <p>Breed: pug</p>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 3 years</p>
                        <p>Breed: Chihuahua</p>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 2 months</p>
                        <p>Breed: Dooberman</p>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 5 months</p>
                        <p>Breed: Golden Retriever</p>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 1 month</p>
                        <p>Breed: Tzi Chu</p>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 12 years</p>
                        <p>Breed: GermanSheerpead</p>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 1 month</p>
                        <p>Breed: Cane Corso</p>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 2 years</p>
                        <p>Breed: Australian Dog</p>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 5 years</p>
                        <p>Breed: Serra da Estrela</p>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="photo-container-info">
                        <p>Age: 1 month</p>
                        <p>Cão de agua</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block extra_js %}
    <script src="{% static 'center/scripts/filters.js' %}"></script>
    {% endblock %}