        {% extends 'base.html' %}
        {% load static %}

        {% block title %}
        Feed
        {% endblock %}

        {% block extra_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'center/css/feed.css' %}">
        {% endblock %}

        {% block content %}
        
        <div class="feed">
            {% include 'includes/filter.html' %}

            <div class="animals-photos">
                {% for animal in animals %}
                    <div class="animal-card">

                        <div class="photo-container">
                            
                            {% if animal.main_image %}
                                <img src="{{ animal.main_image.image.url }}" alt="{{ animal.name }}" class="pet-image">
                            {% endif %}

                            <div class="icon-container">
                                <img src="{% static 'center/like.svg' %}" alt="like" class="like-icon">
                            </div>
                        </div>

                        <div class="photo-container-info">
                            <p class="name">{{ animal.name }}</p>
                            <p class="breed-age">{{ animal.breed }} - {{ animal.age }} months old</p>

                            <div class="view-more-container">
                                <a href="#" class="view-more">View More</a>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}

    {% block extra_js %}
    <script src="{% static 'center/scripts/filters.js' %}"></script>
    {% endblock %}