        {% extends 'base.html' %}
        {% load static %}

        {% block title %}
        Feed
        {% endblock %}

        {% block extra_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'center/css/feed.css' %}">
        {% endblock %}

        {% block content %}
        
        <div class="feed">
            {% include 'includes/filter.html' %}

            
            <div class="animals-photos">
                <div class="animal-card">
                    <div class="photo-container">
                        <div class="icon-container">
                            <img src="{% static 'center/like.svg' %}" alt="like" class="like-icon">
                        </div>
                    </div>
                    <div class="photo-container-info">
                        <p class="name">Alfredo</p>
                        <p class="breed-age">Rotweiller - 2 months old</p>
                        <div class="view-more-container">
                            <a href="#" class="view-more">View More</a>
                        </div>
                    </div>
                </div>

                <div class="animal-card">
                    <div class="photo-container">
                        <div class="icon-container">
                            <img src="{% static 'center/like.svg' %}" alt="like" class="like-icon">
                        </div>
                    </div>
                    <div class="photo-container-info">
                        <p class="name">Alfredo</p>
                        <p class="breed-age">Rotweiller - 2 months old</p>
                        <a href="#" class="view-more">View More</a>
                    </div>
                </div>


                <div class="animal-card">
                    <div class="photo-container">
                        <div class="icon-container">
                            <img src="{% static 'center/like.svg' %}" alt="like" class="like-icon">
                        </div>
                    </div>
                    <div class="photo-container-info">
                        <p class="name">Alfredo</p>
                        <p class="breed-age">Rotweiller - 2 months old</p>
                        <a href="#" class="view-more">View More</a>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}

    {% block extra_js %}
    <script src="{% static 'center/scripts/filters.js' %}"></script>
    {% endblock %}