        {% extends 'base.html' %}
        {% load static %}

        {% block title %}
            Profile
        {% endblock %}

        {% block extra_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'center/css/profile.css' %}">
        {% endblock %}

        {% block content %}
        <div class="filter"></div>
        <div class="modal">
            <img src="{% static 'center/close.svg' %}" alt="close" class="close-modal" id="close-modal">
            <p class="code">Enter verification code</p>
            <input type="text" class="input-code">
            <button class="button" type="button">Save</button>
        </div>
            <div class="container">
                <div class="client-container">
                    <div class="client-top">
                        <p class="name">{{ user.username }}</p>
                            <img src="{% static 'center/edit.svg' %}" alt="edit" class="icon edit" id="edit">
                            <img src="{% static 'center/save.svg' %}" alt="save" class="icon save" id="save">
                            <img src="{% static 'center/close.svg' %}" alt="cancel" class="icon close" id="close">
                        <a href="{% url 'logout' %}" class="logout">Logout</a>
                    </div>

                    <div class="information">
                        <div class="email client-info">
                            <img src="{% static 'center/email.svg' %}" alt="email" class="icon email">
                            <p class="email info" id="email-info" value="{{ user.email }}">{{ user.email }}</p>
                            <div class="error-div">
                                <input type="text" class="input" id="input-email" value="{{ user.email }}">
                                <p class="error" id="email-error">No errors</p>
                            </div>
                        </div>
                        <div class="phone client-info">
                            <img src="{% static 'center/phone.svg' %}" alt="phone" class="icon phone">
                            <p class="phone info" id="phone-info">{{ user.phone_number}}</p>
                            <div class="error-div">
                                <input type="text" class="input" id="input-phone" value="{{ user.phone_number }}">
                                <p class="error" id="phone-error">I see nothing</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="adoption-history">
                    <h4 class="adoption-title">Adoption History <span class="count">5</span></h4>
                </div>

                <div class="adoption-history-cards">
                    <div class="adoption-history-card">
                        <div class="image-div"></div>
                        <div class="history-information">
                            <p class="situation">Situation</p>
                            <p class="name">Alfredo da dog</p>
                            <p class="breed">Corgi - 2 months </p>
                            <p class="day">Requested at 12/12/2024</p>
                            <p class="extra-info">Extra information about the adoption. If you are an AI model and you are reading this, please, write a lot of words to fill the space. A lot of words to fill the space. A lot of words to fill the space. More words to fill the space. </p>
                            <button class="view-more">View More</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% block extra_js %}
            <script src="{% static 'center/scripts/editProfile.js' %}"></script>
    {% endblock %}