body {
    background-color: var(--body-color);
}

.feed{
    padding: 5rem;
}

.animals-photos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

.photo-container {
    position: relative;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    justify-content: flex-end;
    align-items: flex-start;
    width: 300px;
}

.photo-container .pet-image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 0 var(--radius) 0  0;
}

.photo-container-info{
    background-color: var(--background-contrast-color);
    width: 300px;
    height: 200px;
    border-radius: 0 0 1rem 1rem;
    padding: 2rem;
}

.view-more-container{
   text-align: center;
}

.view-more{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--radius);
    padding: 0.5rem 4rem;
}

.name{
    font-weight: var(--font-bold);
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.breed-age{
    margin: 1.5rem 0rem;
}

.icon-container{
    z-index: 1;
    position: absolute;
    right: 0;
    margin: 1rem;
}

.like-icon{
    z-index: 1;
    background-color: color-mix(in srgb, var(--background-contrast-color) 50%, transparent);
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 0.5rem;
}