{% load static %}

<nav class="navbar">
    <img src="{% static 'center/paws.png' %}" alt="PetCenter Logo" class="navbar-logo">
    <h1 class="centername">Pet<span class="centername-span">Center</span></h1>
    <div class="navbar-links">
        <a href="#" class="navbar-link active">Home</a>
        <a href="#" class="navbar-link">Contacts</a>
        <a href="#" class="navbar-link">My Animals</a>
    </div>
    <div class="navbar-user">
        <img src="{% static 'center/user.svg' %}" alt="User" class="navbar-user-img">
    </div>
</nav>